= search_form_for @search, url: '/models' do |f|
  / Model Name Search 
  .form-control-col-sm-4
    = f.label :name_cont, "Model Name Search"
    = f.text_field :name_cont
    = actions= f.submit "Search", class: 'btn btn-primary btn-xs'

- model_class = Model
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-hover
  %thead
    %tr
      %th= model_class.human_attribute_name(:brand_id)
      %th= model_class.human_attribute_name(:name)
      %th= model_class.human_attribute_name(:color)
      %th= model_class.human_attribute_name(:manufacturer)
      %th= model_class.human_attribute_name(:serial_no_location)
      %th= model_class.human_attribute_name("warranty(in months)")
      %th= model_class.human_attribute_name(:image)
      %th= model_class.human_attribute_name(:created_at)
      %th{width: "16%"}=t '.actions', :default => t("helpers.actions")
  %tbody
    - @models.includes(:brand).each do |model|
      %tr
        %td= link_to model.try(:brand).try(:name),brand_path(model.brand_id)
        %td= model.name
        %td= model.color
        %td= model.manufacturer
        %td= model.serial_no_location
        %td= model.warranty
        %td= image_tag(model.image.thumb) if model.image.present?
        %td=model.created_at.strftime("%A, %d %b %Y %l:%M %p")
        %td   
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_model_path(model), :class => 'btn btn-warning btn-xs'
          = link_to t('.show', :default => t("helpers.links.show")), model_path(model), :class => 'btn btn-primary btn-xs'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), model_path(model), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'
= will_paginate @models, renderer: BootstrapPagination::Rails  
= link_to t('.new', :default => t("helpers.links.new")), new_model_path, :class => 'btn btn-primary'
