!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p
      Hi #{@equipment.first_name}
      %br
      Your Product registered successfully.
      %br
      Details of your product are as follows
      %br
      Brand Name: #{@equipment.brand.name if @equipment.brand.present? }
      %br
      Model Name: #{@equipment.model.name if @equipment.model.present? }
      %br
      Colur Name: #{@equipment.colour.name if @equipment.colour.present? }
      %br
      Serial Key: #{@equipment.serial_number}
      %br
      Purchase Date: #{@equipment.purchase_date.try(:strftime,'%m-%d-%Y')} 
      %br
      price: #{@equipment.price}
      %br
      %br
      Customer Datails are as follows
      %br
      First Name: #{@equipment.customer.first_name}
      %br
      Last Name: #{@equipment.customer.last_name}
      %br
      Address: #{@equipment.customer.address}
      %br
      Town: #{@equipment.customer.town}
      %br
      City: #{@equipment.customer.city}
      %br
      Post Code: #{@equipment.customer.post_code}
      %br
      Telephone: #{@equipment.customer.phone_number}
      %br
      Mobile: #{@equipment.customer.mobile}
      %br
      Email: #{@equipment.customer.email}
      %br
      DOB: #{@equipment.customer.dob.try(:strftime,'%m-%d-%Y')}
      %br
      