= form_for @sale_history do |f|
  - if @sale_history.errors.any?
    #error_explanation
      %h2= "#{pluralize(@sale_history.errors.count, "error")} prohibited this sale_history from being saved:"
      %ul
        - @sale_history.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :equipment_id, :class => 'control-label'
    .controls
      = text_field_tag "equipment_id",@sale_history.try(:equipment).try(:serial_number), :required => true, :class => 'form-control typeahead_equipment',:placeholder=>"Search serial numnber...",:autocomplete => "off"
      = f.hidden_field :equipment_id, :class => 'form-control equipment_id_hidden'
  .form-group
    = label_tag "Brand", raw("Brand : <span class=\"brand_name\">#{@sale_history.try(:equipment).try(:brand).try(:name)}</span>"), {:class => 'control-label'}
  .form-group
    = label_tag "Model", raw("Model : <span class=\"model_name\">#{@sale_history.try(:equipment).try(:model).try(:name)}</span>"),{:class => 'control-label'}
  .form-group
    = label_tag "Colour", raw("Colour : <span class=\"colour_name\">#{@sale_history.try(:equipment).try(:colour).try(:name)}</span>"),{:class => 'control-label'}
  .form-group
    = f.label :customer_id,'Retailer', :class => 'control-label'
    .controls
      = text_field_tag "customer_id",@sale_history.try(:buyer).try(:user_name), :required => true, :class => 'form-control typeahead_customer',:autocomplete => "off",:placeholder=>"Search Retailer..."
      = f.hidden_field :buyer_id, :class => 'form-control customer_id_hidden'
  .form-group
    = f.label :selling_date,"Purchase Date", :class => 'control-label'
    .controls
      = f.date_select :selling_date, :class => 'form-control'

  = f.submit "Save", :class => 'btn btn-primary'
  = link_to "Cancel",  sell_to_retailer_path, :class => 'btn btn-default'

  = render 'autocomp.js'
