.page-header
  %h1.title Sale Histories
%table.table.table-bordered 
  %thead
    %tr
      %th Serial no
      %th Brand
      %th Model
      %th Retailer
      %th Selling date
      %th Actions
  %tbody
    - if @sale_histories.present?
      - @sale_histories.each do |sale_history|
        %tr
          %td= sale_history.equipment.try(:serial_number)
          %td= sale_history.equipment.brand.try(:name)
          %td= sale_history.equipment.model.try(:name)
          %td= sale_history.user.try(:user_name)
          %td= sale_history.selling_date.try(:strftime,'%m-%d-%Y %H:%M %p')
          %td
            =# link_to 'Show', sale_history, :class => 'btn btn-primary btn-sm'
            = link_to 'Edit', edit_sale_history_path(sale_history),:class => 'btn btn-info btn-sm'
            = link_to 'Destroy', sale_history, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-sm  btn-danger'
    - else
      %tr
        %td{colspan: "9"} No data available.

%br

= will_paginate @sale_histories, renderer: BootstrapPagination::Rails 

= link_to "Sale to Retailer", new_sale_history_path, :class => 'btn btn-primary'
