%p#notice= notice

%p
  %b Serial no:
  = link_to @sale_history.equipment.try(:serial_number),equipment_path(@sale_history.equipment_id)
%p
  %b Brand:
  = @sale_history.equipment.brand.try(:name)
%p
  %b Model:
  = @sale_history.equipment.model.try(:name)
%p
  %b Customer:
  = @sale_history.buyer.try(:user_name)
%p
  %b Purchase date:
  = @sale_history.selling_date.try(:strftime,'%m-%d-%Y')

= link_to 'Edit', edit_sell_to_retailer_path(@sale_history)
\|
= link_to 'Back', sell_to_retailer_path
