.form-group
  = f.label :email, :class => 'control-label'
  .controls
    = f.text_field :email,:id => 'email_customer', :required => true, :class => 'form-control'
.form-group
  = f.label :first_name, :class => 'control-label'
  .controls
    = f.text_field :first_name, :required => true, :class => 'form-control'
.form-group
  = f.label :last_name, :class => 'control-label'
  .controls
    = f.text_field :last_name, :required => true, :class => 'form-control'
.form-group
  = f.label :address, :class => 'control-label'
  .controls
    = f.text_area :address, :required => true, :class => 'form-control'
.form-group
  = f.label :town, :class => 'control-label'
  .controls
    = f.text_field :town, :required => true, :class => 'form-control'
.form-group
  = f.label :city, :class => 'control-label'
  .controls
    = f.text_field :city, :required => true, :class => 'form-control'
.form-group
  = f.label :post_code, :class => 'control-label'
  .controls
    = f.text_field :post_code, :required => true, :class => 'form-control'
.form-group
  = f.label :mobile, :class => 'control-label'
  .controls
    = f.text_field :mobile, :class => 'form-control'
.form-group
  = f.label :phone_number,"Telephone", :class => 'control-label'
  .controls
    = f.text_field :phone_number, :class => 'form-control'
.form-group
  = f.label :gender,"Gender", :class => 'control-label' 
  = f.radio_button :gender, "Male", :checked => true
  = f.label :gender, "Male" 
  = f.radio_button :gender, "Female"
  = f.label :gender, "Female"
.form-group
  = f.label :date_of_birth, :class => 'control-label'
  .controls
    = f.date_select :dob, :order => [:day, :month, :year], :start_year => 1930, :end_year => Time.now.year, :class => 'form-control'
.form-group
  = f.label :customer_note, :class => 'control-label'
  .controls
    = f.text_area :customer_note, :class => 'form-control' 