.form-group
  = f.label :first_name, :class => 'control-label'
  .controls
    = f.text_field :first_name, :required => true, :class => 'form-control'
.form-group
  = f.label :last_name, :class => 'control-label'
  .controls
    = f.text_field :last_name, :required => true, :class => 'form-control'
.form-group
  = f.label :address, :class => 'control-label'
  .controls
    = f.text_area :address, :required => true, :class => 'form-control'
.form-group
  = f.label :town, :class => 'control-label'
  .controls
    = f.text_field :town, :required => true, :class => 'form-control'
.form-group
  = f.label :city, :class => 'control-label'
  .controls
    = f.text_field :city, :required => true, :class => 'form-control'
.form-group
  = f.label :post_code, :class => 'control-label'
  .controls
    = f.text_field :post_code, :required => true, :class => 'form-control'
.form-group
  = f.label :telephone, :class => 'control-label'
  .controls
    = f.text_field :telephone, :required => true, :class => 'form-control'
.form-group
  = f.label :mobile, :class => 'control-label'
  .controls
    = f.text_field :mobile, :required => true, :class => 'form-control'
.form-group
  = f.label :date_of_birth, :class => 'control-label'
  .controls
    = f.date_select :dob, :class => 'form-control'