= form_for @sale_to_customer,:url=> @sale_to_customer.new_record? ? sale_to_customers_path : sale_to_customer_path(@sale_to_customer) ,:as=>:sale_to_customer, :html => { :class => 'form-horizontal' } do |f|
  - if @sale_to_customer.errors.any?
    #error_explanation
      %h2= "#{pluralize(@sale_to_customer.errors.count, "error")} prohibited this customer from being saved:"
      %ul
        - @sale_to_customer.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :equipment_id,'Serial Number', :class => 'control-label'
    .controls
      = text_field_tag "equipment_id",@sale_to_customer.try(:serial_number), :required => true, :class => 'form-control typeahead_equipment',:placeholder=>"Search serial numnber...",:autocomplete => "off"
  .form-group
    = label_tag "Brand", raw("Brand : <span class=\"brand_name\">#{@sale_to_customer.try(:brand).try(:name)}</span>"), {:class => 'control-label'}
  .form-group
    = label_tag "Model", raw("Model : <span class=\"model_name\">#{@sale_to_customer.try(:model).try(:name)}</span>"),{:class => 'control-label'}
  .form-group
    = label_tag "Colour", raw("Colour : <span class=\"colour_name\">#{@sale_history.try(:equipment).try(:colour).try(:name)}</span>"),{:class => 'control-label'}
  .form-group
    = f.label :retailer,'Store Name', :class => 'control-label'
    .controls
      = f.select :retailer_id,User.retailer.all.map{|b| [b.contact_person,b.id]},{ :selected => User.find_by_contact_person('GoMotorised').id}, :class => 'form-control' if current_user.is_admin?
    = label_tag "retailer", raw("<span class=\"retailer_name\">#{@sale_history.try(:retailer).try(:contact_person)}</span>"),{:class => 'control-label'} 
  .form-group
    = f.label :purchase_date,'Date Purchased', :class => 'control-label'
    .controls
      = f.date_select :purchase_date, :order => [:day, :month, :year], :class => 'form-control'
  .form-group
    = f.label :price, :class => 'control-label'
    .controls
      = f.text_field :price, :class => 'form-control'
  #get_customer_details
    = f.fields_for :customer do |builder|
      = render "customer_form", :f => builder 
  = f.submit f.object.new_record? ? 'Register' : 'Update', :class => 'btn btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), sale_to_customers_path, :class => 'btn btn-default'
  = render 'autocomp.js'