:javascript
  $(document).ready(function(){
      $('.search_div').hide();
      $('input#filter_ckbox').click(function(){
          // If checked
          if ($("#filter_ckbox").is(":checked"))
          {
              //show the hidden div
              $(".search_div").show();
          }
          else
          {
              //otherwise, hide it
              $(".search_div").hide();
          }
        });
  });
= search_form_for @search, url: '/sale_to_customers' do |f|
  / Search by Serial number
  .form-group
    = f.label :serial_number_eq, "Serial Number Search"
    = f.text_field :serial_number_eq
  .form-group
    %strong Advance Filter
    %input{:name => "vehicle", :type => "checkbox", :value => "Car", :id => 'filter_ckbox'}/ 
  / Search by first name
  .search_div
    .form-group
      = f.label :first_name_cont, "First name"
      = f.text_field :first_name_cont
    / Search by Last name
    .form-group
      = f.label :last_name_cont, "Last name"
      = f.text_field :last_name_cont
    / Search by Phone number
    .form-group
      = f.label :mobile_eq, "Phone Number"
      = f.text_field :mobile_eq
    / Search by Purchase between
    .form-group
      = f.label :purchase_date_gteq, "Purchase Date Between"
      = f.date_select :purchase_date_gteq
      = f.label :purchase_date_lteq, "and"
      = f.date_select :purchase_date_lteq
    / Search by selling date between
    / .form-group
    /   = f.label :selling_date_gteq, "Selling Date Between"
    /   = f.date_select :selling_date_gteq
    /   = f.label :selling_date_lteq, "and"
    /   = f.date_select :selling_date_lteq
    / Search by Brand name
    .form-group
      = f.label :brand_name_cont, "Brand name"
      = f.text_field :brand_name_cont
    / Search by Model name
    .form-group
      = f.label :model_name_cont, "Model name"
      = f.text_field :model_name_cont
      / Search by retailer name
    .form-group
      = f.label :retailer_retailer_name_cont, "Store Name"
      = f.text_field :retailer_retailer_name_cont

  .actions= f.submit "Search"
  %br
- model_class = SaleHistory
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-hover
  %thead
    %tr
      %th= model_class.human_attribute_name(:serial_no)
      %th= model_class.human_attribute_name(:brand_id)
      %th= model_class.human_attribute_name(:model_id)
      %th Store Name
      %th= model_class.human_attribute_name(:first_name)
      %th= model_class.human_attribute_name(:last_name)
      %th= model_class.human_attribute_name(:price)
      %th= model_class.human_attribute_name(:mobile)
      %th= model_class.human_attribute_name(:email)
      %th Date Purchased
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @sale_to_customers.each do |sale_to_customer|
      %tr
        %td= link_to sale_to_customer.try(:serial_number),equipment_index_path(sale_to_customer.serial_number)
        %td= link_to sale_to_customer.try(:brand).try(:name),brand_path(sale_to_customer.brand_id)
        %td= link_to sale_to_customer.try(:model).try(:name),model_path(sale_to_customer.model_id)
        %td= link_to sale_to_customer.try(:retailer).try(:user_name),user_path(sale_to_customer.retailer_id)
        %td= sale_to_customer.first_name
        %td= sale_to_customer.last_name
        %td= sale_to_customer.price
        %td= sale_to_customer.mobile
        %td= sale_to_customer.email
        %td= sale_to_customer.purchase_date.strftime("%d %b %Y")
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_sale_to_customer_path(sale_to_customer), :class => 'btn btn-default btn-xs'
          = link_to t('.show', :default => t("helpers.links.show")), sale_to_customer_path(sale_to_customer), :class => 'btn btn-primary btn-xs'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), sale_to_customer_path(sale_to_customer), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_sale_to_customer_path, :class => 'btn btn-primary'

