- model_class = SaleHistory
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize


%p
  %strong= model_class.human_attribute_name(:serial_no) + ':'
  %br
  = link_to @sale_to_customer.try(:equipment).try(:serial_number),equipment_path(@sale_to_customer.try(:equipment).try(:id))
%p
  %strong= model_class.human_attribute_name(:brand_id) + ':'
  %br
  = link_to @sale_to_customer.try(:equipment).try(:brand).try(:name),brand_path(@sale_to_customer.try(:equipment).try(:brand).try(:id))
%p
  %strong= model_class.human_attribute_name(:model_id) + ':'
  %br
  = link_to @sale_to_customer.try(:equipment).try(:model).try(:name),model_path(@sale_to_customer.try(:equipment).try(:model).try(:id))
%p
  %strong= model_class.human_attribute_name(:customer_id) + ':'
  %br
  = @sale_to_customer.customer_id
%p
  %strong= model_class.human_attribute_name(:selling_date) + ':'
  %br
%p
  = @sale_to_customer.selling_date.strftime("%A, %d %b %Y %l:%M %p")
  %strong= model_class.human_attribute_name(:name) + ':'
  %br
  = @sale_to_customer.name
%p
  %strong= model_class.human_attribute_name(:url) + ':'
  %br
  = @sale_to_customer.url
%p
  %strong= model_class.human_attribute_name(:price) + ':'
  %br
  = @sale_to_customer.price
%p
  %strong= model_class.human_attribute_name(:accessory_id) + ':'
  %br
  = @sale_to_customer.accessory_id
%p
  %strong= model_class.human_attribute_name(:first_name) + ':'
  %br
  = @sale_to_customer.first_name
%p
  %strong= model_class.human_attribute_name(:last_name) + ':'
  %br
  = @sale_to_customer.last_name
%p
  %strong= model_class.human_attribute_name(:address) + ':'
  %br
  = @sale_to_customer.address
%p
  %strong= model_class.human_attribute_name(:town) + ':'
  %br
  = @sale_to_customer.town
%p
  %strong= model_class.human_attribute_name(:city) + ':'
  %br
  = @sale_to_customer.city
%p
  %strong= model_class.human_attribute_name(:post_code) + ':'
  %br
  = @sale_to_customer.post_code
%p
  %strong= model_class.human_attribute_name(:telephone) + ':'
  %br
  = @sale_to_customer.telephone
%p
  %strong= model_class.human_attribute_name(:mobile) + ':'
  %br
  = @sale_to_customer.mobile
%p
  %strong= model_class.human_attribute_name(:email) + ':'
  %br
  = @sale_to_customer.email
%p
  %strong= model_class.human_attribute_name(:dob) + ':'
  %br
  = @sale_to_customer.dob
%p
  %strong= model_class.human_attribute_name(:customer_note) + ':'
  %br
  = @sale_to_customer.customer_note
%p
  %strong= model_class.human_attribute_name(:purchase_date) + ':'
  %br
  = @sale_to_customer.purchase_date



= link_to t('.back', :default => t("helpers.links.back")), sale_to_customers_path, :class => 'btn btn-default'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_sale_to_customer_path(@sale_to_customer), :class => 'btn btn-default'
= link_to t('.destroy', :default => t("helpers.links.destroy")), sale_to_customer_path(@sale_to_customer), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
