= form_for @job do |f|
  - if @job.errors.any?
    #error_explanation
      %h2= "#{pluralize(@job.errors.count, "error")} prohibited this job from being saved:"
      %ul
        - @job.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :serial_number, :class => 'control-label'
    .controls
      = f.text_field :serial_number, :readonly => true, :class => 'form-control'
  .form-group
    = f.label :warrenty_job, :class => 'control-label'
    .controls  
      = f.text_field :warrenty_job, :readonly => true, :class => 'form-control'
  .form-group
    = f.label :service_notes  , :class => 'control-label'
    .controls
      = f.text_area :service_notes, :readonly => true, :class => 'form-control'
  .form-group
    = f.label :claimed , :class => 'control-label'
    .controls
      = f.text_field :claimed, :readonly => true, :class => 'form-control'
  .form-group
    = f.label :claim_amount, :class => 'control-label' if @job.warrenty_job == "Yes" 
    .controls
      = f.text_field :claim_amount, :readonly => true, :class => 'form-control' if @job.warrenty_job == "Yes"
  .form-group
    = f.label :date_of_job, :class => 'control-label'
    .controls
      = f.text_field :date_of_job, :value => @job.date_of_job.strftime("%d %b %Y"), :readonly => true, :class => 'form-control'
  .form-group
    = f.label :cost, :class => 'control-label'
    .controls
      = f.text_field :cost, :class => 'form-control'
  .form-group
    = f.label :time_spent, :class => 'control-label'
    .controls
      = f.text_field :time_spent, :class => 'form-control'
  .form-group
    = f.label :servicetech, :class => 'control-label'
    .controls
      = f.select :servicetech, User.recent.setting.map{|b| [b.first_name,b.first_name]}, :class => 'form-control'

  .actions
    = f.submit 'Save'
