%h1 Listing jobs

%table
  %tr
    %th Date of job
    %th Service notes
    %th Time spent
    %th Claimed
    %th Warrenty job
    %th Servicetech
    %th
    %th
    %th

  - @jobs.each do |job|
    %tr
      %td= job.date_of_job
      %td= job.service_notes
      %td= job.time_spent
      %td= job.claimed
      %td= job.warrenty_job
      %td= job.servicetech
      %td= link_to 'Show', job
      %td= link_to 'Edit', edit_job_path(job)
      %td= link_to 'Destroy', job, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Job', new_job_path
