%p#notice= notice

%p
  %b Date of job:
  = @job.date_of_job.strftime("%d %b %Y")
%p
  %b Serial Number:
  = @job.serial_number
%p
  %b Service notes:
  = @job.service_notes
%p
  %b Warrenty job:
  = @job.warrenty_job
%p
  %b Claimed:
  = @job.claimed
%p
  %b Claim Amount:
  = @job.claim_amount
%p
  %b Cost:
  = @job.cost
%p
  %b Servicetech:
  = @job.servicetech
%p
  %b Time spent:
  = @job.time_spent

= link_to 'Edit', edit_job_path(@job)
\|
= link_to 'Back', jobs_path
