.page-header
  %h1.title Customer list
%table.table.table-striped
  %thead
    %tr
      %th Serial Number
      %th Model Id
      %th Brand Id
      %th Created On
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - if @equipment.present?
      - @equipment.includes(:model,:brand).each do |equipment| 
        %tr
          %td= equipment.serial_number
          %td= link_to equipment.brand.name,brand_path(equipment.brand.id)    
          %td= link_to equipment.model.name,model_path(equipment.model.id)        
          %td=equipment.created_at.strftime("%A, %d %b %Y %l:%M %p")
          %td
            = link_to t('.edit', :default => t("helpers.links.edit")), edit_equipment_path(equipment), :class => 'btn btn-default btn-xs'
            = link_to t('.show', :default => t("helpers.links.show")), equipment_path(equipment), :class => 'btn btn-primary btn-sm'
            = link_to t('.destroy', :default => t("helpers.links.destroy")), equipment_path(equipment), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'
    - else
      %tr
        %td{colspan: "5"} No data available.

= link_to 'New', new_equipment_path, :class => 'btn btn-primary'
