= search_form_for @search, url: '/users' do |f|
  / user Name Search 
  .form-control-col-sm-4
    = f.label :retailer_name_cont, "Retailers Name Search"
    = f.text_field :full_name_cont
    = actions= f.submit "Search", class: 'btn btn-primary btn-xs'




.page-header
  %h1.title Retailers listing
%table.table.table-hover
  %thead
    %tr
      %th Contact person
      %th name
      %th Phone number
      %th Email
      %th Created On
      %th Actions
  %tbody
    - if @users.present?
      - @users.each do |user|
        %tr
          %td= user.contact_person
          %td= user.user_name
          %td= user.phone_number
          %td= user.email
          %td= user.created_at.strftime('%m-%d-%Y') 
          %td
            = link_to 'Edit', edit_user_path(user),:class => 'btn btn-warning btn-xs'
            = link_to 'Show', "/users/#{user.id}", :class => 'btn btn-primary btn-xs'
            = link_to 'Destroy', "/users/#{user.id}", :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-xs btn-danger'
    - else
      %tr
        %td{colspan: "9"} No data available.
%br
= will_paginate @users, renderer: BootstrapPagination::Rails 

= link_to t('.new', :default => t("helpers.links.new")), new_user_path, :class => 'btn btn-primary'
