= search_form_for @search, url: '/users/serial_key_list' do |f|
  / equipment no Search 
  .form-control-col-sm-4
    = f.label :serial_number_eq, "Serial Number Search"
    = f.text_field :serial_number_eq
    = actions= f.submit "Search", class: 'btn btn-primary btn-xs'

.page-header
  %h1.title My Serial Numbers
-if !@equipment.present?
  %center
    %h2 No Record Found
-else
  %table.table.table-striped
    %thead
      %tr
        %th Serial Number
        %th Model Id
        %th Brand Id
        %th Colour
        %th Purchase Date
        %th 
    %tbody
    - @equipment.includes(:model,:brand,:colour).each do |equipment| 
      %tr
        %td= equipment.serial_number
        %td= equipment.try(:brand).try(:name)
        %td= equipment.try(:model).try(:name)
        %td= equipment.try(:colour).try(:name)    
        %td= equipment.try(:purchase_date).try(:strftime,"%d %b %Y ")
        %td
          -if equipment.sold_to_customer != false
            = link_to 'Register', new_sale_to_customer_path, :class => 'btn btn-primary', :style => "float: right;  margin-top: -5%" 
 

=# link_to 'Create new customer', new_equipment_path, :class => 'btn btn-primary'
