= search_form_for @search, url: '/users/serial_key_list' do |f|
  / equipment no Search 
  .form-control-col-sm-4
    = f.label :serial_number_eq, "Serial Number Search"
    = f.text_field :serial_number_eq
    = actions= f.submit "Search", class: 'btn btn-primary btn-xs'

.page-header
  %h1.title Serial Key List
-if !@equipment.present?
  %center
    %h2 No Record Found
-else
  %table.table.table-striped
    %thead
      %tr
        %th Serial Number
        %th Model Id
        %th Brand Id
        %th Colour
    %tbody
    - @equipment.includes(:model,:brand).each do |equipment| 
      %tr
        %td= equipment.serial_number
        %td= link_to equipment.try(:brand).try(:name),brand_path(equipment.brand_id)    
        %td= link_to equipment.try(:model).try(:name),model_path(equipment.model_id)   
        %td= equipment.colour.name if equipment.colour.present?    
      
 

=# link_to 'Create new customer', new_equipment_path, :class => 'btn btn-primary'
