%p#notice= notice

%p
  %b Contact person:
  = @user.contact_person
%p
  %b Website:
  = @user.website
%p
  %b Retailer name:
  = @user.retailer_name
%p
  %b Phone number:
  = @user.phone_number
%p
  %b Email:
  = @user.email


= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', retailers_path
