%p#notice= notice
.page-header
  %h1 Store
%table.table.table-hover
  %thead
    %tr
      %th Store Name
      %th Store Group
      %th First Name
      %th Last Name
      %th Phone Number
      %th Email
      %th Website
  %tbody
    %tr
      %td= @user.try(:contact_person)
      %td= @user.try(:retailer_group).try(:name)
      %td= @user.try(:first_name)
      %td= @user.try(:last_name)
      %td= @user.try(:phone_number)
      %td= @user.try(:email)
      %td= @user.try(:website)
.page-header
  %h1=t '.title', :default => "Customers list"
%table.table.table-hover
  %thead
    %tr
      %th First Name
      %th Last Name
      %th Gender
      %th Mobile 
      %th Landline
      %th Email 
      %th Address
      %th Town
      %th City
      %th Postal Code 
      %th Date Of Birth 

  %tbody
    - @customers.each do |customer|
      %tr
        %td= customer.try(:first_name)
        %td= customer.try(:last_name)
        %td= customer.try(:gender)
        %td= customer.try(:mobile)
        %td= customer.try(:phone_number)
        %td= customer.try(:email)
        %td= customer.try(:address)
        %td= customer.try(:town)
        %td= customer.try(:city)
        %td= customer.try(:post_code)
        %td= customer.dob.try(:strftime,'%d %b %Y ')

= link_to 'Back', stores_path
