.page-header
  %h1.title Retailers listing
%table.table.table-bordered 
  %thead
    %tr
      %th Contact person
      %th Retailer name
      %th Phone number
      %th Email
      %th Created On
      %th Actions
  %tbody
    - if @retailers.present?
      - @retailers.each do |retailer|
        %tr
          %td= retailer.contact_person
          %td= retailer.retailer_name
          %td= retailer.phone_number
          %td= retailer.email
          %td= retailer.email
          %td
            = link_to 'Show', "/retailers/#{retailer.id}", :class => 'btn btn-primary btn-sm'
            = link_to 'Edit', edit_retailer_path(retailer),:class => 'btn btn-info btn-sm'
            = link_to 'Destroy', "/retailers/#{retailer.id}", :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-sm  btn-danger'
    - else
      %tr
        %td{colspan: "9"} No data available.
%br
= will_paginate @retailers, renderer: BootstrapPagination::Rails 

= link_to t('.new', :default => t("helpers.links.new")), new_retailer_path, :class => 'btn btn-primary'
