= form_for @result,:url=> warrantyregistration_update_path(@result) ,:as=>:equipment, :html => { :class => 'form-horizontal' } do |f|
  %br
  .form-group
    = label_tag "Equipment ID", "Serial Number: "+@result.serial_number
  .form-group
    = label_tag "Brand", "Brand: "+@result.try(:brand).try(:name)
  .form-group
    = label_tag "Model", "Model: "+@result.try(:model).try(:name)
  .form-group
    = label_tag "Colour", "Colour: "+@result.try(:colour).try(:name)
  .form-group
    = label_tag "Store Name", "Store Name: "+@result.retailer.contact_person if @result.retailer.present?
  .form-group
    = f.label :purchase_date, :class => 'control-label'
    .controls
      = f.date_select :purchase_date, :order => [:day, :month, :year], :class => 'form-control'
  .form-group
    = f.label :price, :class => 'control-label'
    .controls
      = f.text_field :price, :required => true, :class => 'form-control'   
  #get_customer_info
    = f.fields_for :customer, @customer do |builder|
      = render "form", :f => builder 
  = f.submit nil, :class => 'btn btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), warrantyregistration_path, :class => 'btn btn-default'
  
  
