= form_for @result,:url=> warrantyregistration_update_path(@result) ,:as=>:equipment, :html => { :class => 'form-horizontal' } do |f|
  %br
  .form-group
    = label_tag "Equipment ID", "Serial Number: "+@result.serial_number
  .form-group
    = label_tag "Brand", "Brand: "+@result.try(:brand).try(:name)
  .form-group
    = label_tag "Model", "Model: "+@result.try(:model).try(:name)
  .form-group
    = label_tag "Colour", "Colour: "+@result.try(:colour).try(:name)
  .form-group
    = label_tag "Store Name", "Store Name: "+@result.retailer.contact_person if @result.retailer.present?
  .form-group
    = f.label :email, :class => 'control-label'
    .controls
      = f.email_field :email,:id => 'email_auto', :value =>@result.email, :class => 'form-control'
  #get_customer_info
    = render 'form',:f => f
  .form-group
    = f.label :customer_note, :class => 'control-label'
    .controls
      = f.text_area :customer_note, :value =>@result.customer_note, :class => 'form-control'
  .form-group
    = f.label :price, :class => 'control-label'
    .controls
      = f.text_field :price, :required => true, :class => 'form-control'   
  .form-group
    = f.label :purchase_date, :class => 'control-label'
    .controls
      = f.date_select :purchase_date, :class => 'form-control'
  
  = f.submit nil, :class => 'btn btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), warrantyregistration_path, :class => 'btn btn-default'

= render 'autocomp.js'
