= search_form_for @search , url: '/warrantyregistration_edit/' do |f|
  / equipment no Search 
  .form-control-col-sm-4
    = f.label :serial_number_eq, "Serial Number Search"
    = f.text_field :serial_number_eq, :id => 'sno_register_id', :placeholder=>"Search serial numnber...", :autocomplete => "off"
    = actions = f.submit "Search", class: 'btn btn-primary btn-xs'
= render :partial => "register_form" if @result.present?
= render 'autocomp.js'