        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
       <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <% if user_signed_in? 
                if ((current_user.is_admin?) || (current_user.is_manager?))%>
                  <li class="dropdown">
                      <a href="#" data-toggle="dropdown" class="dropdown-toggle">Sell to <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                        <li><%= link_to 'Retailer',new_sell_to_retailer_path %></li>
                        <li><%= link_to 'Customer',new_sale_to_customer_path  %></li>
                      </ul>
                  </li>
                  <li><%= link_to 'Customers',sell_to_customers_path  %></li>
                  <li class="dropdown">
                      <a href="#" data-toggle="dropdown" class="dropdown-toggle">Equipment <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                        <li><%= link_to 'Serial Number',serialnumbers_path %></li>
                        <li><%= link_to 'Brand',brands_path %></li>
                        <li><%= link_to 'Model',models_path %></li>
                        <li><%= link_to 'Accessories',accessories_path %></li>
                        <li><%= link_to 'Colours',colours_path %></li>
                      </ul>
                  </li>
                  <li class="dropdown">
                      <a href="#" data-toggle="dropdown" class="dropdown-toggle">Retailers <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                        <li><%= link_to 'Sales History',sell_to_retailer_path %></li>
                        <li><%= link_to 'Stores',stores_path %></li>
                        <li><%= link_to 'Groups',retailer_groups_path %></li>
                      </ul>
                  </li>
                  <li><%= link_to 'Reporting',jobs_path  %></li>
                  <li><%= link_to 'Users',users_path  %></li>
              <% elsif current_user.is_retailer? %>
                  <li><%= link_to 'Serial Keys',serial_key_list_users_path %></li>
                  <li><%= link_to 'Customers',customers_path %></li>
                  <li><%= link_to 'Sell to Customer',sale_to_customers_path  %></li>             
              <% end %>
            <% else %>
              <p class="navbar-text navbar-right">
                <li><%= link_to 'Login',new_user_session_path %></li>
                <li><%= link_to 'Register Job', new_job_path%></li>
              </p>
            <% end %>
          </ul>
           <p class="navbar-text navbar-right">
            <% if user_signed_in? %>
		    	    Welcome <%= current_user.first_name %>
			       <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
    			  <% end %>
		        </p>
        </div>